{namespace widget=Tx_Fluidwidget_ViewHelpers}
<f:layout name="Uri" />
<f:section name="Main">
	<f:if condition="{0: mode} == {0: 'passthrough'}">
		<f:then>
			<f:if condition="{return}">
				<f:then><f:widget.uri action="download" /></f:then>
				<f:else><f:widget.link action="download">{content->f:format.raw()}</f:widget.link></f:else>
			</f:if>
		</f:then>
	</f:if>
	<f:if condition="{0: mode} == {0: 'direct'}">
		<f:then>
			<f:if condition="{return}">
				<f:then>{target}</f:then>
				<f:else><a href="{target}">{content->f:format.raw()}</a></f:else>
			</f:if>
		</f:then>
	</f:if>
</f:section>